<div class='list-group-item list-group-item--asset' id=<%= "submission-asset-#{asset.id}" %>>
  <div class='list-group-item-content'>
    <div class='list-group-item-label'>
      <%= link_to "#{asset.asset_type} ##{asset.id}", admin_submission_asset_path(asset.submission, asset) %>
    </div>
  </div>
  <% if asset.asset_type == 'image' %>
    <% if asset.image_urls['thumbnail'].present? %>
      <div class='list-group-item-content'>
        <div class='asset-thumb'>
          <%= image_tag asset.image_urls['square'] %>
        </div>
      </div>
    <% end %>
    <div class='asset-controls'>
      <% if asset.id == asset.submission.primary_image_id %>
        <div class='primary-image-label'>
          Primary
        </div>
      <% else %>
        <div class='make-primary-image'>
          <%= link_to 'Make primary', admin_submission_path(submission: { primary_image_id: asset.id }), method: :put, class: 'make-primary-link' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
