<div class='page-title'>
  <h2>Current Partners</h2>
</div>

<div class='container'>
  <div class='row triple-padding-top'>
    <div class='col-md-12'>
      <div class='list-group'>
        <% @partners.each do |partner| %>
          <div class='list-group-item list-item--partner' data-id=<%= partner.id %>>
            <div class='list-group-item-info list-group-item-info--id'>
              <%= partner.id %>
            </div>
            <div class='list-group-item-info'>
              <%= partner.external_partner_id %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/watt/paginator', locals: { total_items_count: @partners.total_count, items_count: @partners.length, per_page: @size, current_page: @page, base_url: admin_partners_url } %>
</div>
