<p>
  In the meantime, we request that you provide some additional information so that we can best evaluate your artwork. You can provide this information
  <%= link_to 'here on Artsy', artsy_formatted_url("collector-profile/my-collection/artwork/#{@submission.my_collection_artwork_id}", @utm_params), target: :_blank %>.
</p>