<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render 'shared/email/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-sub-title'>
            <p>Dear <%= @user.name %>,</p>
            <p>Thank you for submitting your work to Artsy.</p>
            <p>Currently we do not work with artists directly. If you are represented by a gallery that would be interested in partnering with Artsy, please encourage the gallery to visit this page.</p>
            <p>If you do not currently have gallery representation, we would like to bring to your attention our Gallery Representation Guide and The Working Artist’s Guide, two resources put together by our Editorial team. </p>
            <p>We hope this information is helpful and that you continue to explore Artsy!</p>
            <p>Thank you,</p>
            <p>Artsy</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
