<p>Dear <%= @user.name %>,</p>

<p>Thank you for submitting a consignment with Artsy. We are excited to partner with you to sell this work.</p>

<p>We have received the following details regarding the work. As a next step, we may share details of your work anonymously with our partners listed below to help us gauge interest. <b>Please let us know if there are particular partners with whom you would prefer we do not share your work.</b> Our specialists team will then evaluate interest and get back to you with an update. <i>Please expect an update on your submission within two to three weeks as our partners do take some time to respond.</i></p>

<%=render partial: 'shared/submission'%>
