<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='padded-email'>
  <tr>
    <td>
      <table class='email-content' align='left'>
        <tr>
          <td>
            <%= render partial: 'shared/email_header' %>
          </td>
        </tr>
        <tr>
          <td class='email-title'>
            Great news, your work has been approved for consignment
          </td>
        </tr>
        <tr>
          <td class='email-sub-title'>
            Your consignment has been approved and is currently being reviewed by our trusted network of auction houses and gallery partners.
          </td>
        </tr>
        <tr>
          <td>
            <%= render partial: 'shared/submission_block', locals: { submission: @submission } %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
