<%= stylesheet_link_tag 'emails', media: 'all' %>

<table class='receipt-email'>
  <tr>
    <td>
      <table class='padded-email'>
        <tr>
          <td>
            <table class='email-content' align='center'>
              <tr>
                <td>
                  <%= render 'shared/email/email_header' %>
                </td>
              </tr>
              <tr>
                <td class='email-sub-title'>
                  Dear <%= @user.name %>,

                  This is a confirmation that Artsy has received your artwork submission. 

                  Our team of specialists will review the work and reach out to you within 24 hours with an update or if they require additional information. 
                </td>
              </tr>
              <tr>
                <td>
                  <%= render 'shared/email/submission_block', submission: @submission %>
                </td>
              </tr>
              <tr>
                <td>
                  If you have any questions, please do not hesitate to reach out to us at consign@artsymail.com //TODO: link

                  Thank you,
                  Artsy
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>