<div class='col-sm-12 dashboard_subcategory_row <%= section_name.parameterize %>' >
  <div class="gray-label">
    <h4>
      <%= section_name %> : <%= items_count || 0 %>
    </h4>
  </div>
  <a href=<%= filtered_path %>>
    <span style='' class='icon-chevron-right pull-right gray-label'></span>
  </a>
</div>
