<%= link_to filtered_path, class: ['list-group-item dashboard_subcategory_row', section_name.parameterize] do %>
  <div class='col-sm-12 <%= section_name.parameterize %>' >
    <h4>
      <%= section_name %> : <%= items_count || 0 %>
    </h4>
    <span style='' class='icon-chevron-right pull-right gray-label'></span>
  </div>
<% end %>
