version: 2.1

orbs:
  hokusai: artsy/hokusai@0.8.0
  horizon: artsy/release@0.0.1
  node: artsy/node@1.0.0
  slack: circleci/slack@4.3.3
  yarn: artsy/yarn@5.1.3

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_master: &only_master
  context: hokusai
  filters:
    branches:
      only: master

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

workflows:
  build-deploy:
    jobs:
      - horizon/block:
          <<: *only_release
          context: horizon
          project_id: 46

      - hokusai/test:
          <<: *not_staging_or_release

      - hokusai/push:
          name: push-staging-image
          <<: *only_master
          requires:
            - hokusai/test

      - hokusai/deploy-staging:
          <<: *only_master
          project-name: convection
          requires:
            - push-staging-image
          post-steps:
            - slack/status:
                fail_only: true
                failure_message: Convection staging deploy has failed!

      - hokusai/deploy-production:
          <<: *only_release
          requires:
            - horizon/block
          post-steps:
            - slack/status:
                success_message: Convection production has been deployed!
                failure_message: Convection production deploy has failed!
