version: 2.1

orbs:
  yarn: artsy/yarn@4.0.0
  hokusai: artsy/hokusai@0.7.2
  node: artsy/node@1.0.0

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_master: &only_master
  context: hokusai
  filters:
    branches:
      only: master

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

workflows:
  build-deploy:
    jobs:
      - hokusai/test:
          <<: *not_staging_or_release

      - hokusai/push:
          name: push-staging-image
          <<: *only_master
          requires:
            - hokusai/test

      - hokusai/deploy-staging:
          <<: *only_master
          project-name: convection
          requires:
            - push-staging-image

      - hokusai/deploy-production:
          <<: *only_release
