version: 2.1

orbs:
  hokusai: artsy/hokusai@0.10.0
  horizon: artsy/release@0.0.1
  node: artsy/node@2.0.0
  slack: circleci/slack@3.4.2
  yarn: artsy/yarn@6.1.0

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_main: &only_main
  context: hokusai
  filters:
    branches:
      only: main

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

only_dev: &only_dev
  filters:
    branches:
      ignore:
        - main
        - staging
        - release

jobs:
  detect-secrets:
    docker:
      - image: lirantal/detect-secrets
    working_directory: /usr/src/app
    steps:
      - run: apt-get update && apt-get install -y openssh-client
      - checkout
      - run: |
          cp .secrets.baseline /tmp/.secrets.baseline
          set +e && set +o pipefail
          detect-secrets-hook --baseline .secrets.baseline $(git ls-files)
          code=$?
          if [[ $code -ne 3 ]]; then
            exit $code
          else
            lines=$(diff -y --suppress-common-lines .secrets.baseline /tmp/.secrets.baseline | wc -l)
            [ $lines -eq 1 ] && git restore .secrets.baseline && exit 0
            echo "Changes to baseline results need to be committed locally."
            exit $code
          fi

workflows:
  build-deploy:
    jobs:
      - detect-secrets:
          <<: *only_dev

      - horizon/block:
          <<: *only_release
          context: horizon
          project_id: 46

      - hokusai/test:
          <<: *not_staging_or_release

      - hokusai/push:
          name: push-staging-image
          <<: *only_main
          requires:
            - hokusai/test

      - hokusai/deploy-staging:
          <<: *only_main
          project-name: convection
          requires:
            - push-staging-image
          post-steps:
            - slack/status:
                fail_only: true
                failure_message: Convection staging deploy has failed!

      - hokusai/deploy-production:
          <<: *only_release
          requires:
            - horizon/block
          post-steps:
            - slack/status:
                success_message: Convection production has been deployed!
                failure_message: Convection production deploy has failed!
