<p>We have received the following submission from: <%= @submission.name %> (<%= mail_to(@submission.email) %>)</p>

<%= link_to('View Submission In Admin', "#{Convection.config.convection_url}/admin/submissions/#{@submission.id}") %>

<%= render 'shared/email/submission' %>
