<div class='overview-item'>
  <div class='overview-item-title'>
    Offer type
  </div>
  <div class='overview-item-value'>
    <%= @offer.offer_type %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Price
  </div>
  <div class='overview-item-value'>
    <%= @offer.price_display %>
  </div>
</div>
