<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Price (cents)
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :price_cents, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Commission (percent)
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :commission_percent, class: 'form-control' %>
    </div>
  </div>
</div>
