<div class='overview-item'>
  <div class='overview-item-title'>
    Price cents
  </div>
  <div class='overview-item-value'>
    <%= @offer.price_cents %>
  </div>
</div>

<div class='overview-item'>
  <div class='overview-item-title'>
    Commission %
  </div>
  <div class='overview-item-value'>
    <%= @offer.commission_percent %>
  </div>
</div>
