<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Price
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :price_dollars, class: 'form-control' %>
    </div>
  </div>
</div>
