<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Retail price
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :price, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Commission %
    </label>
    <div class='col-sm-9'>
      <%= f.text_field :commission_percent_whole, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Sale period start
    </label>
    <div class='col-sm-9'>
      <%= f.date_field :sale_period_start, class: 'form-control' %>
    </div>
  </div>
</div>

<div class='row single-padding-top'>
  <div class='col-sm-12'>
    <label class='col-sm-3 control-label'>
      Sale period end
    </label>
    <div class='col-sm-9'>
      <%= f.date_field :sale_period_end, class: 'form-control' %>
    </div>
  </div>
</div>
