  <div class='list-group-item--note'>
    <div class='list-group-item--byline'>
      <%= note_byline(note) %>
    </div>
    <div class='list-group-item--body'>
      <textarea >
      <%= note.body %>
    </textarea>
    </div>
  </div>