<hr />
<div class='list-group-item--note'>
  <div class='list-group-item--byline'>
    <%= note_byline(note) %>
  </div>
  <div class='list-group-item--body'>
    <p>
      <%= note.body %>
    </p>
  </div>
</div>