<% if consignment %>
  <div class='overview-section'>
    <div class='overview-section-title--inline'>
      Consignment
    </div>
    <%= render 'admin/consignments/consignment', consignment: consignment, artist: artist %>
  </div>
<% end %>