<% if consignment %>
  <div class='row'>
    <div class='unit bordered single-padding-top'>
      <div class='section-title'>
        Consignment
      </div>
      <%= render 'admin/consignments/consignment', consignment: consignment %>
    </div>
  </div>
<% end %>