<table class='consignments-header-table'>
  <tr>
    <td class='artsy-logo'>
      <%= image_tag(image_url('artsy-logo.jpg'), id: 'artsy-logo') %>
    </td>
    <td class='consignments-label'>
      Consignments
    </td>
  </tr>
</table>
