$sans-serif: HelveticaNeue, Helvetica, 'Helvetica', sans-serif;
$serif: TimesNewRoman, 'Times New Roman', Times, serif;
$purple: #6e1fff;
$red: #f7625a;
$green: #0eda83;

body {
  margin: 0px;
  padding: 0px;
}

table {
  border-collapse: collapse;
}

.two-column {
  text-align: center;
  font-size: 0;
}

.two-column .column {
  width: 100%;
  display: inline-block;
  vertical-align: top;

  td {
    font-size: 16px;
  }
}

.two-column .first-column {
  max-width: 150px;
}

.two-column .second-column {
  max-width: 190px;
}

.contents {
  width: 100%;
}

.two-column .contents {
  font-size: 14px;
  text-align: left;
}

.two-column img {
  width: 100%;
  max-width: 190px;
  height: auto;
}

table.bordered-email {
  width: 100%;
  font-family: serif;
  text-align: center;
  max-width: 600px;
  table-layout: fixed;

  td {
    font-family: $sans-serif;
  }

  table.first-upload-reminder-email,
  table.second-upload-reminder-email {
    border-collapse: collapse;
  }

  .spacer {
    height: 20px;
  }

  table.padded-email {
    margin-top: 20px;
    margin-bottom: 40px;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
  }

  table.offer-email {
    td.two-column {
      text-align: left;
    }

    .first-column {
      max-width: 200px;
    }

    .second-column {
      max-width: 300px;
    }
  }

  table.consignments-header-table {
    width: 100%;
  }

  table.receipt-email {
    border-collapse: collapse;
  }

  .artsy-logo {
    text-align: left;
    img {
      max-width: 100px;
      width: 100px;
    }
  }

  .consignments-label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.1px;
    text-align: right;
    font-family: $serif;
  }

  .email-title {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    font-family: $sans-serif;
  }

  .email-title-centered {
    font-size: 30px;
    text-align: center;
    font-family: $sans-serif;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .sans-serif {
    font-family: $sans-serif;
  }

  .red {
    color: $red;
  }

  .green {
    color: $green;
  }

  .email-main-photo img {
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
  }

  .gray {
    color: gray;
  }

  .bold {
    font-weight: bold;
  }

  .small-padding-top {
    padding-top: 10px;
  }

  table.medium-width-table {
    max-width: 500px;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
  }

  table.full-width-table {
    width: 100%;
  }

  .email-sub-title {
    font-size: 20px;
    padding-bottom: 40px;
    text-align: left;
  }

  .email-sub-title-serif {
    font-size: 18px;
    font-family: $serif;
    text-align: left;
    line-height: 1.6;
  }

  .email-sub-title-bottom {
    padding-bottom: 30px;
  }

  .email-gray-label {
    color: #666666;
    font-size: 12px;
    font-family: $sans-serif;
    text-transform: uppercase;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 60px;
    letter-spacing: 0.5px;
    max-width: 100px;
    line-height: 25px;
  }

  .email-gray-label--left {
    text-align: left;
  }

  .email-gray-label--center {
    text-align: center;
  }

  .email-content-serif {
    font-size: 18px;
    text-align: left;
    font-family: $serif;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
  }

  .email-content-serif--small {
    font-size: 16px;
  }

  .email-content-small-image {
    text-align: left;
    padding-left: 30px;
    img {
      height: 73px;
      max-height: 73px;
      width: 73px;
      max-width: 73px;
    }
  }

  table.email-gray-bordered-section {
    border: 1px solid #e5e5e5;
    width: 100%;
    border-collapse: collapse;
    padding: 0;

    td.top-element {
      padding-top: 30px;
    }

    td.bottom-element {
      padding-bottom: 30px;
    }
  }

  .zero-padding {
    padding: 0;
  }

  table.zero-border-top {
    border-top: none;
  }

  table.submission-info {
    width: 100%;
    padding-top: 20px;
    border-collapse: separate;

    .two-column {
      text-align: left;

      .first-column {
        padding-right: 20px;
      }

      .second-column {
        max-width: 225px;
      }
    }
  }

  img#missing-photo {
    width: 100%;
    max-width: 370px;
    margin-bottom: 40px;
  }

  .upload-photo-wrapper {
    padding-top: 40px;
  }

  .num-uploaded-images {
    padding-bottom: 10px;
  }

  .artist-name {
    font-size: 16px;
    font-weight: bold;
    font-family: $sans-serif;
  }

  .artwork-title,
  .artwork-category-medium,
  .dimensions {
    font-size: 16px;
  }

  .artwork-location {
    padding-top: 20px;
  }

  .upload-photo-button,
  .submit-proposal-button,
  .offer-response-button {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      display: block;
    }
  }

  .offer-response-button {
    background-color: $purple;
  }

  .offer-type-description {
    font-size: 16px;
  }

  table.email-footer {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    text-align: left;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;

    td {
      font-size: 16px;
    }

    p {
      margin: 0px;
    }

    .small-margin-bottom {
      margin-bottom: 10px;
    }

    table.footer-icon-group {
      margin-bottom: 30px;

      .footer-icon {
        width: 40px;
        padding-left: 20px;
        img {
          height: 20px;
          max-height: 20px;
        }
      }

      .footer-icon-facebook {
        width: 30px;
      }
    }

    .need-help {
      padding-left: 20px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    .small-info-row {
      td {
        font-size: 13px;
      }
    }

    .column-outer-table {
      margin-top: 20px;
    }

    table.footer-contact {
      border-collapse: collapse;
      margin-bottom: 40px;
      width: 100%;
      max-width: 500px;

      table.contents--left {
        border-right: 1px solid #666666;
      }

      .two-column {
        text-align: left;

        .first-column {
          padding-right: 10px;
          max-width: 200px;
        }

        .second-column {
          max-width: 255px;
        }
      }

      .specialist-contacts {
        padding-left: 20px;
        p {
          color: white;
        }
      }

      .collector-links {
        padding-right: 20px;
        margin-right: 20px;
        padding-left: 20px;
      }
    }

    .address-row {
      td {
        padding-left: 20px;
      }
    }
  }

  .submission-id {
    color: #999999;
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .submission-block-id {
    color: #999999;
    font-size: 14px;
    text-align: left;
  }

  table.whats-next {
    background-color: #f8f8f8;
    padding: 20px;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;

    .email-title {
      text-align: center;
    }
  }

  table.whats-next-checklist {
    text-align: left;
    max-width: 400px;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;

    .checklist-item {
      font-size: 20px;
      line-height: 1.1;
    }

    .checklist-icon {
      width: 70px;
      max-width: 70px;

      img {
        height: 50px;
        max-height: 50px;
      }
    }

    .checklist-row {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
      height: 90px;
      max-height: 90px;
    }
  }

  .response-info {
    line-height: 1.62;
    padding-top: 34px;
    padding-bottom: 34px;
    text-align: left;
  }

  .full-width-button {
    width: 100%;
  }

  table.submission-batch-email {
    text-align: left;
    max-width: 660px;

    td.submission-batch-right {
      width: 100%;
    }

    td.consignor-header {
      font-size: 14px;
      line-height: 17px;
      color: #808080;
      border-top: 1px solid #e5e5e5;

      p.consignor-id {
        color: #000000;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 4px;
      }
    }

    td.consignor-border {
      margin-bottom: 20px;
    }

    .email-title {
      padding-bottom: 0px;
    }

    .email-sub-title {
      padding-top: 15px;
      padding-bottom: 20px;
      font-size: 20px;
    }

    .email-sub-title--extra-padding-top {
      padding-top: 35px;
    }

    .email-sub-title--extra-padding-bottom {
      padding-bottom: 35px;
    }

    .email-sub-title-gray {
      font-size: 16px;
      color: gray;
      font-family: sans-serif;
      padding-bottom: 30px;
    }

    .submission-digest-block {
      width: 100%;
      max-width: 600px;

      .two-column {
        text-align: left;
        padding: 25px 0 15px 0;

        .first-column {
          max-width: 150px;
          padding-right: 20px;
        }

        .second-column {
          max-width: 300px;
        }
      }

      .submission-image {
        margin-bottom: 15px;
        img {
          width: 150px;
          max-width: 150px;
        }
      }

      .submission-batch-metadata {
        width: 100%;

        .image-link {
          padding-right: 5px;
        }

        td {
          text-align: left;
          font-family: sans-serif;
          font-size: 14px;
        }
      }
    }

    table.submission-batch-todo {
      border-top: 1px solid #e5e5e5;
    }

    table.image-links-table {
      text-align: left;
      margin-bottom: 15px;

      a {
        color: #000001;
      }

      td:first-child {
        padding-left: 0px;
      }
    }
  }
}

@media all and (min-width: 480px) {
  table.contents--left {
    border-right: 1px solid #666666 !important;
  }
}

@media all and (max-width: 480px) {
  table.bordered-email {
    .consignments-label {
      font-size: 12px !important;
    }

    .email-title {
      font-size: 26px !important;
    }

    .email-sub-title {
      font-size: 14px !important;
    }

    .checklist-item {
      font-size: 14px !important;
    }
  }

  table.submission-info {
    td {
      font-size: 14px !important;
    }

    .first-column {
      width: 100% !important;
      max-width: 230px !important;
      img {
        width: 100% !important;
        max-width: none !important;
      }
    }
  }

  table.footer-contact {
    table.contents--left {
      border-right: 0px !important;
    }
  }
}
