$sans-serif: HelveticaNeue, Helvetica, 'Helvetica', sans-serif;
$serif: TimesNewRoman, 'Times New Roman', Times, serif;

table {
  border-collapse: collapse;
}

table.bordered-email {
  width: 100%;
  font-family: serif;
  text-align: center;
  max-width: 600px;
  table-layout: fixed;

  td {
    font-family: $sans-serif;
  }


  table.first-upload-reminder-email, table.second-upload-reminder-email, table.third-upload-reminder-email {
    border-collapse: collapse;
  }

  table.padded-email {
    margin: 20px;
    margin-bottom: 40px;
    border-collapse: collapse;
  }

  table.consignments-header-table {
    width: 100%;
  }

  table.receipt-email {
    border-collapse: collapse;
  }

  .artsy-logo {
    text-align: left;
    img {
      max-width: 120px;
      width: 120px;
    }
  }

  .consignments-label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.1px;
    text-align: right;
    font-family: $serif;
  }

  .email-title {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    font-family: $sans-serif;
  }

  .sans-serif {
    font-family: $sans-serif;
  }

  .email-main-photo img {
    max-width: 600px;
    width: 100%;
  }

  .gray {
    color: gray;
  }

  .bold {
    font-weight: bold;
  }

  .small-padding-top {
    padding-top: 10px;
  }

  table.medium-width-table {
    max-width: 500px;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
  }

  table.full-width-table {
    width: 100%;
  }

  .email-sub-title {
    font-size: 20px;
    padding-bottom: 40px;
    text-align: left;
  }

  table.submission-info {
    width: 100%;
    text-align: left;
    padding: 30px;
    border: 1px solid #E5E5E5;
    border-collapse: separate;
  }

  table.checklist {
    text-align: center;
    padding: 20px 40px;
    border-collapse: separate;
    table-layout: fixed;
    border: 1px solid #E5E5E5;
    margin-bottom: 40px;

    .checklist-row {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
      height: 60px;
      max-height: 60px;
    }

    .checklist-item {
      font-size: 16px;
      text-transform: uppercase;
      padding-left: 10px;
    }

    .check {
      max-width: 40px;
      width: 40px;
    }

    .purple-check img {
      width: 34px;
      max-width: 34px;
    }

    .empty-check img {
      width: 34px;
      max-width: 34px;
    }

    .checklist-item-completed {
      color: #6E1FFF;
    }

    .checklist-item-incomplete {
      color: gray;
    }
  }

  .upload-photo-wrapper {
    padding-top: 40px;
  }

  .submission-image {
    width: 215px;

    img {
      width: 195px;
      max-width: 195px;
    }
  }

  .num-uploaded-images {
    padding-bottom: 10px;
  }

  .artist-name {
    font-size: 16px;
    font-weight: bold;
    font-family: $sans-serif;
  }

  .artwork-title, .artwork-category-medium, .dimensions {
    font-size: 16px;
  }

  .artwork-location {
    padding-top: 20px;
  }

  .upload-photo-button {
    background-color: black;
    line-height: 45px;

    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      display: block;
    }
  }

  table.email-footer {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    text-align: left;
    padding: 20px;
    background-color: black;
    color: white;

    td {
      font-size: 16px;
    }

    p {
      margin: 0px;
    }

    .small-margin-bottom {
      margin-bottom: 10px;
    }

    table.footer-icon-group {
      margin-bottom: 30px;

      .footer-icon {
        width: 40px;

        img {
          height: 20px;
          max-height: 20px;
        }
      }

      .footer-icon-facebook {
        width: 30px;
      }
    }

    a {
      color: white;
      text-decoration: none;
    }

    .small-info-row {
      td {
        font-size: 13px;
      }
    }

    table.footer-contact {
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 40px;

      .collector-links {
        border-right: 1px solid white;
        padding-right: 20px;
      }

      .specialist-contacts {
        padding-left: 20px;
      }
    }
  }

  .submission-id {
    color: #999999;
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  table.whats-next {
    background-color: #f8f8f8;
    padding: 20px;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;

    .email-title {
      text-align: center;
    }
  }

  table.whats-next-checklist {
    text-align: left;
    max-width: 400px;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;

    .checklist-item {
      font-size: 20px;
      line-height: 1.1;
    }

    .checklist-icon {
      width: 70px;
      max-width: 70px;

      img {
        height: 50px;
        max-height: 50px;
      }
    }

    .checklist-row {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
      height: 90px;
      max-height: 90px;
    }
  }

  .response-info {
    line-height: 1.62;
    padding-top: 34px;
    padding-bottom: 34px;
    text-align: left;
  }

  .full-width-button {
    width: 100%;
  }

  table.submission-batch-email {
    text-align: left;
    max-width: 660px;

    .email-title {
      padding-bottom: 0px;
    }

    .email-sub-title {
      padding-top: 15px;
      padding-bottom: 20px;
      font-size: 20px;
    }

    .email-sub-title-gray {
      font-size: 16px;
      color: gray;
      font-family: sans-serif;
      padding-bottom: 20px;
    }

    .submission-image {
      img {
        width: 150px;
        max-width: 150px;
      }
    }

    .submission-image-row-mobile {
      display: none;
    }

    .submission-batch-metadata {
      td {
        text-align: left;
        padding-left: 20px;
        font-family: sans-serif;
        font-size: 14px;
      }
    }

    table.submission-batch-todo {
      text-align: left;

      .email-sub-title {
        padding-bottom: 0px;
      }

      td {
        font-family: $sans-serif;
      }
    }

    table.image-links-table {
      text-align: left;

      a {
        color: #000001;
      }

      td:first-child {
        padding-left: 0px;
      }
    }
  }
}

@media (max-width: 450px) {
  table.bordered-email {
    border: none !important;

    .consignments-label {
      font-size: 12px !important;
    }

    .email-title {
      font-size: 26px !important;
    }

    .email-sub-title {
      font-size: 14px !important;
    }

    .checklist-item {
      font-size: 14px !important;
    }

    table.padded-email, table.receipt-email {
      padding: 10px 10px 60px 10px !important;
    }

    table.footer-contact {
      .footer-contact-row {
        display: table-cell !important;

        .collector-links {
          border-right: none !important;
        }

        .specialist-contacts {
          padding-left: 0px !important;
          padding-top: 20px;
        }

        td {
          display: block;
        }
      }
    }

    table.submission-info {
      padding: 10px !important;

      td {
        font-size: 14px !important;
      }

      .submission-image {
        width: 85px !important;
        vertical-align: top;
        img {
          width: 78px !important;
          max-width: 78px !important;
        }
      }
    }

    table.submission-batch-email {
      td {
        padding-left: 0px !important;
      }

      .email-sub-title {
        font-size: 16px !important;
      }

      .email-sub-title-gray {
        font-size: 14px !important;
      }

      .submission-image {
        display: none !important;
      }

      .submission-image-row-mobile {
        display: block !important;

        .submission-image-mobile {
          img {
            max-width: 230px;
          }
        }
      }
    }
  }
}
