// Watt
@import "watt/base";
@import 'watt/autocomplete';
@import 'watt/overview';

$green: #0EDA83;

.bold-label {
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.gray-label {
  color: #999999;
}

.flex-label {
  display: flex;
  justify-content: space-between;
}

.btn-approve {
  color: $green;

  &:visited {
    color: $green;
  }
}

#gemini-input {
  display: none;
}

.uploading_file {
  padding-top: 20px;
}

.asset-thumb {
  img {
    width: 60px;
    max-height: 60px;
  }
}

.list-group--asset-images {
  .asset-thumb {
    img {
      width: 100px;
      max-height: 100px;
    }
  }

  .list-group-item--asset {
    display: flex;
  }
}

.medium-square-image {
  img {
    width: 150px;
    padding: 5px;
    margin: 5px;
  }
}

.list-item--submission, .list-item--offer {
  display: flex;
  justify-content: space-between;

  .list-group-item-info {
    margin-left: 10px;
  }

  .list-group-item-info--id {
    max-width: 80px;
  }

  .list-group-item-info {
    flex: 1;
  }
}

.list-item--partner {
  display: flex;
  justify-content: space-between;

  .list-item--partner--name {
    font-weight: bold;
    font-size: 20px;
  }

  .list-group-item-links {
    margin-left: 20px;
  }
}

.partners_index {
  .ui-autocomplete.ui-menu {
    z-index: 10000
  }
}

input[type="submit"].disabled-button {
  cursor: not-allowed;
  border-color: #F8F8F8 !important;
  background-color: $gray !important;
  pointer-events: none;
}

.offer-type-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input {
    width: 30px;
  }
}

.section-title {
  font-size: 24px;
}
