// Watt
@import "watt/base";
@import "watt/autocomplete";
@import "watt/overview";

$green: #0eda83;

.bold-label {
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.gray-label {
  color: #999999;
}

.purple-label {
  color: $purple;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.flex-label {
  display: flex;
  justify-content: space-between;
}

.locked {
  padding-bottom: 5px;
  img {
    width: 16px;
    height: 16px;
  }
}

.sidebar-link {
  font-size: 12px;
  color: $gray-dark;
  text-decoration: underline;
}

.sidebar-link-2 {
  font-size: 16px;
  color: $gray-dark;
  text-decoration: underline;
}

.watt-overview {
  .overview-section-title--inline {
    font-size: 25px;
    margin-bottom: 10px;

    &__link {
      a {
        color: $purple;
        font-size: 15px;
        font-family: $sans-serif;
        text-decoration: none;
      }
    }
  }
  .overview-item-title {
    font-family: $serif;
    text-transform: none;
    color: #666666;
    font-size: 16px;
  }
}

.btn-approve {
  color: $green;

  &:visited {
    color: $green;
  }
}

#gemini-input {
  display: none;
}

.uploading_file {
  padding-top: 20px;
}

.asset-thumb {
  display: flex;
  align-items: center;
  img {
    width: 60px;
    max-height: 60px;
  }
}

.list-group--asset-images {
  .asset-thumb {
    img {
      width: 100px;
      max-height: 100px;
    }
  }

  .list-group-item--asset {
    display: flex;
  }
}

.medium-square-image {
  img {
    width: 150px;
    padding: 5px;
    margin: 5px;
  }
}

a.make-primary-link {
  text-decoration: underline;
}

.list-item--offer {
  .list-group-item-info {
    width: 10%;
  }
}

.list-item--submission,
.list-item--offer,
.list-item--consignment {
  display: flex;
  justify-content: space-between;

  .list-group-item-info {
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .list-group-item-info--id,
  .list-group-item-info--state {
    max-width: 80px;
  }

  .list-group-item-info--email {
    min-width: 17%;
  }

  .list-group-item-info {
    flex: 1;
  }
}
.notes-section {
  margin-left: -15px;
  margin-right: -15px;
  .new-note {
    margin-bottom: 30px;
    h4 {
      margin-left: 20px;
    }
    form {
      > * {
        margin-left: 20px;
        margin-right: 20px;
      }
      textarea {
        width: 100%;
      }
    }
  }

  .notes-section-title {
    font-size: 25px;
  }
  .list-group-item--note {
    .list-group-item--byline {
      font-family: $serif;
      text-transform: none;
      color: #666666;
      font-size: 16px;
      margin-left: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .list-group-item--body {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .user-note-badge {
    padding: .2em .6em .3em;
    background: #d9534f;
    color: #fff;
  }
}

.spacer {
  width: 16px;
}

.list-item--partner {
  display: flex;
  justify-content: space-between;

  .list-item--partner--name {
    font-weight: bold;
    font-size: 20px;
  }

  .list-group-item-links {
    margin-left: 20px;
  }
}

.gray-background-header {
  background-color: #f8f8f8;
  padding: 4px;
}

.partners_index {
  .ui-autocomplete.ui-menu {
    z-index: 10000;
  }
}

.disabled-button {
  cursor: not-allowed;
  border-color: #f8f8f8 !important;
  background-color: $gray !important;
  pointer-events: none;
}

.offer-type-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input {
    width: 30px;
  }
}

.section-title {
  font-size: 24px;
}

.offers_show {
  .overview-section {
    margin-right: 0px !important;
  }
}

.submission-select {
  .select2-selection {
    height: auto !important;
    min-height: 28px;
  }
}

.select2-selection__rendered {
  .new-offer-submission-thumbnail {
    float: left;
  }
}

.new-offer-submission-thumbnail {
  span {
    padding-right: 20px;
  }

  img {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 40px;
    max-height: 40px;
  }
}

.ui-autocomplete {
  .section-label {
    cursor: default;
    border-bottom: none;
    font-weight: bold;
    padding: 10px;
  }
}

.mark-as-consigned-link-wrapper {
  text-align: center;
}

.mark-as-consigned-link {
  font-size: 12px;
  color: $gray-dark;
  text-decoration: underline;
}

.dashboard_category_row  {
  .section-header {
    margin-bottom: 20px;

    div {
      padding: 0;
    }
  }
}

.dashboard_subcategory_row {
  margin-bottom: 20px;
  padding: 10px;

  > div {
    padding: 0;
  }

  h4 {
    display: inline-block;
  }

  span {
    line-height: inherit;
  }
}

.align-center {
  text-align: center;
}
