// Watt
@import "watt/base";
@import 'watt/autocomplete';

.bold-label {
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

#user_selections_form {
  li {
    padding: 15px;
  }
}

#gemini-input {
  display: none;
}

.uploading_file {
  padding-top: 20px;
}

.asset-thumb {
  img {
    width: 60px;
  }
}
