// Watt
@import "watt/base";
@import 'watt/autocomplete';

.bold-label {
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.gray-label {
  color: #999999;
}

.flex-label {
  display: flex;
  justify-content: space-between;
}

.btn-approve {
  color: #0EDA83;

  &:visited {
    color: #0EDA83;
  }
}

#gemini-input {
  display: none;
}

.uploading_file {
  padding-top: 20px;
}

.asset-thumb {
  img {
    width: 60px;
    max-height: 60px;
  }
}

.list-group--asset-images {
  display: flex;

  .list-group-item--primary-asset-image {
    border: 2px solid #0EDA83;
    margin: 5px;
  }

  .list-group-item--asset-image {
    border: 1px solid black;
    margin: 5px;
  }
}

.medium-square-image {
  img {
    width: 150px;
    padding: 5px;
    margin: 5px;
  }
}

.list-item--submission {
  display: flex;
  justify-content: space-between;

  .list-group-item-info {
    margin-left: 10px;
  }

  .list-group-item-info--id {
    max-width: 80px;
  }

  .list-group-item-info {
    flex: 1;
  }
}
