<div class='overview-section'>
  <div class='bold-label'>Partner info</div>
  <div class='single-padding-top'>
    <%= offer.partner.name %>
  </div>

  <div class='single-padding-top'>
    <%= markdown_formatted(offer.partner_info) %>
  </div>
</div>
