<div class='col-md-9' id='assigned-to'>
  <%= @submission.assigned_to == '' ?  'Unassigned' : ADMINS[:"#{@submission.assigned_to}"] %>
</div>
<button class="col-md-3" id="edit" onclick="switchVisible()"> Edit </button>
