<div class='col-md-9' id='cataloguer'>
  <%= @submission.cataloguer %>
</div>
<button class="col-md-3" id="edit_cataloguer" onclick="switchVisible('update_cataloguer', 'edit_cataloguer')"> Edit </button>