<div class='overview-section'>
  <div class='bold-label'>Collector info</div>
  <div class='single-padding-top'>
    <div>
      <%= submission.user&.name %>
    </div>
    <div>
      <%= submission.user&.user_detail&.email %>
    </div>
    <div>
      <%= submission.user&.user_detail&.phone %>
    </div>
  </div>
</div>
