<div class='overview-section'>
  <div class='bold-label'>Created By</div>
  <div class='single-padding-top'>
    <% if @submission.admin %>
      <div class="consigned-partner-name">
        Admin
      </div>
      <% if @submission.admin.email.present? %>   
        <div class="consigned-partner-name">
          Email: <%= @submission.admin.email%>
        </div>
      <% end %>
     <% else %>
     <div class="consigned-partner-name">
        User
      </div>
    <% end %>
  </div>
</div>
