<div class='overview-section'>
  <div class='bold-label'>Created By</div>
  <div class='single-padding-top'>
    <% if @submission.created_by %>
      <div class="consigned-partner-name">
        Admin
      </div>
      <div class="consigned-partner-name">
        Email: <%= @submission.created_by%>
      </div>
    <% else %>
      <div class="consigned-partner-name">
        User
        <% if @submission.user_agent %>
          <% if @submission.user_agent.include? "Artsy-Web" %>
            (<a href="#" title="<%= @submission.user_agent %>">Web</a>)
          <% elsif @submission.user_agent.include? "Artsy-Mobile" %>
            (<a href="#" title="<%= @submission.user_agent %>">Mobile</a>)
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
