<% if notes && notes.length > 0 %>
  <div class='notes-section'>
    <div class='notes-section-title'>
      Notes
    </div>
    <%= render partial: 'admin/submissions/note', collection: @notes %>
  </div>
<% end %>