<div class='overview-section'>
  <div class='bold-label'>Actions</div>
    <% if @submission.approved? || @submission.published? %>
      <%= link_to 'Create Offer', new_step_0_admin_offers_path(submission_id: @submission.id), class: 'btn btn-primary btn-small btn-full-width' %>
    <% end %>
    <% @actions.each do |action| %>
      <div class='single-padding-top'>
        <%= link_to(action[:text], admin_submission_path(@submission, submission: { state: action[:state] }), method: :put, class: action[:class], data: { confirm: action[:confirm] }) %>
      </div>
    <% end %>
    <% if @submission.reviewed? %>
      <div class='single-padding-top'>
          <%= reviewer_byline(@submission) %>
      </div>
    <% end %>
</div>
