<div class='overview-section'>
  <div class='overview-section-title--inline'>
    Submission
  </div>
  <%= render 'admin/submissions/submission', submission: submission, artist: artist, truncated: true %>
</div>
