<a href=<%= root_url %> class='brand'>
  <%= render partial: '/shared/watt/svgs/mark' %>
</a>

<div class='nav-application-name'>
  <%= link_to 'Convection', root_url %>
</div>

<div class='nav'>
  <%= link_to 'log out', '/sign_out' %>
</div>
