<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <table class='bordered-email' align='center'>
      <tr>
        <td>
          <%= yield %>
        </td>
      </tr>
      <tr>
        <td>
          <%= render 'shared/email_footer' %>
        </td>
      </tr>
    </table>
  </body>
</html>
